# Ignorar tudo dentro de target
target/

# IntelliJ IDEA
*.iml
.idea/

# VS Code
.vscode/

# Excluir os arquivos específicos da remoção no Git
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
!.gitattributes
!mvnw.cmd